node_modules
config.json
mnemonic
journal.log
docs/*
book/docs/media
_book/
out
fireblocks_api_key
fireblocks_secret_key
dist
.turbo

packages/ethereum/cache
packages/ethereum/hardhat.log
packages/ethereum/hardhat.pid

packages/**/.env
