node_modules
config.json
mnemonic
journal.log
docs/*
book/docs/media
_book/
out
fireblocks_api_key
fireblocks_secret_key
dist
.turbo
*.tsbuildinfo

# Editor and system files
.DS_Store
*.swp
*.swo

# Test coverage
coverage

packages/ethereum/cache
packages/ethereum/hardhat.log
packages/ethereum/hardhat.pid
packages/ethereum/edr-fork-cache

packages/polygon/cache
packages/polygon/hardhat.log
packages/polygon/hardhat.pid
packages/polygon/edr-fork-cache

.env
packages/**/.env

