---

name: Build and lint
on: 
  push: {}
  schedule:
    # Runs at 00:00 on Monday and Thursday
    - cron: '0 0 * * 1,4'
jobs:
  build_and_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: npm install
      - name: Run linter
        run: npm run lint
      - name: Test build
        run: npm run build
      - name: Run tests
        run: npm run test
      - name: Run ethereum tests
        run: npm run test:ethereum
      - name: Run polygon tests
        run: npm run test:polygon
